* {
    margin: 0px;
    padding: 0px;
  }

section .patient_home_banner {
  padding-bottom: 80px;
  margin-top: 0px;
}

.mb-6{
  margin-bottom: 200px !important;
}

h2{
  font-family: 'Zilla Slab', serif;

}

footer{
  background-color: black;
  color: white;
  
}